---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% for category in site.publication_category %}
  <section class="publication-section">
    <h2>{{ category[1].title }}</h2>
    {% assign category_publications = site.publications | where: "category", category[0] %}
    {% if category[0] == 'conferences' %}
      {% assign category_publications = category_publications | sort: "order" %}
    {% else %}
      {% assign category_publications = category_publications | reverse %}
    {% endif %}
    {% for post in category_publications %}
      {% include archive-single.html %}
    {% endfor %}
  </section>
{% endfor %}
